.board {
    margin: auto;
    border: 1rem solid white;
    background: white;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 1rem;
}