.square {
    background: black;
    border: none;
    font-size: 8rem;
    cursor: pointer;
    width: 180px;
    height: 180px;
    outline: none;
    margin: 5px;
}

.x {
    vertical-align: center;
    color: limegreen;
}

.o {
    color: red;
}

